<div class="w3w-container">
    <input class="input-text w3w-input" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled
    }" />
    <i id="w3w-map-link"
       class="w3w-icon w3w-icon-input"
       title="W3W Map"
       data-bind="click: showMap">&#x3f;</i>
</div>

<div id="w3w-map-modal" style="display: none">
    <input id="w3w-map-input" type="text"
           placeholder="Enter a location" />
    <div id="w3w_map_div"></div>
    <div id="infowindow-content">
        <span id="place-address"></span>
    </div>
</div>