<div class="w3w-container">
    <input class="input-text w3w-input" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled
    }" />
    <i id="w3w-map-link"
       class="w3w-icon w3w-icon-input"
       title="W3W Map"
       data-bind="click: showMap">&#x3f;</i>
</div>

<div id="w3w-map-modal" style="display: none">
    <input id="w3w-map-input" type="text"
           placeholder="Enter a location" />
    <div id="w3w_map_div"></div>
    <div id="infowindow-content">
        <span id="place-address"></span>
    </div>
    <div id="w3w-words-result-container">
        <div class="w3w_address_logo" style="height: 32px; width: 32px;">
            <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve">
                <path fill="currentColor" d="M10.7,4h2L4,28H2L10.7,4z M19.7,4h2L13,28h-2L19.7,4z M28.7,4h2L22,28h-2L28.7,4z"></path>
            </svg>
        </div>
        <div class="w3w_address" style="opacity: 1; font-size: 24px;">-------.-------.-------</div>
    </div>
</div>