.lib-font-face(
  @family-name: 'what3words-grid',
  @font-path: '../../fonts/what3words-grid',
  @font-weight: normal,
  @font-style: normal
);

.w3w-icon
{
  font-family: "what3words-grid";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.w3w-icon-input{
  color: #E11F26;
  font-size: 32px;
  margin: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.w3w-input {
  padding-right: 40px!important;
}

.w3w-container {
  display:inline-flex;
  position: relative;
  width: 100%;
}
#w3w_map_div {
  min-height: 300px;
  height: 100%;
}

.extait-w3w-popup {
  .modal-inner-wrap {
    height: 90%;
    width: 75%!important;
    margin-left: auto!important;
    left: inherit!important;
    .modal-content {
      height: 100%;
      #w3w-map-modal {
        height: 100%;
      }
    }
  }
}

#w3w-map-input {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  &:focus {
    border-color: #4d90fe;
  }
}

#infowindow-content {
  display: none;
}
#w3w_map_div #infowindow-content {
  display: inline;
}

#w3w-words-result-container {
  display: flex;
  padding: 6px 16px 0;
  cursor: pointer;
  height: 56px;
  align-items: center;
  background-color: #fff;
  bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  .w3w_address {
    flex-grow: 1;
    font-weight: 300;
    line-height: 1;
    transform: translateY(-1px);
    font-size: 24px;
  }
  .w3w_address_logo {
    color: #E11F26;
  }
}
